<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>集总模型软件</title>
    <script src="static/js/jquery-3.1.1.min.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/user.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/user.css" rel="stylesheet">

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">网络构建：</h3>
                </div>
                <div class="panel-body" id="canvasContainer">
                    <div class="input-group">
                        <canvas id="canvas"> 请升级您的浏览器</canvas>
                    </div><!-- /input-group -->
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">已输入条件：</h3>
                </div>

                <textarea id="factorShow" disabled></textarea>
                <button type="button" id="clearFactors" data-loading-text="Loading..."
                        class="btn btn-primary"
                        autocomplete="off">清除条件</button>
                <textarea id="preFactorShow" disabled></textarea>
             <button type="button" id="clearPreFactors" data-loading-text="Loading..."
                        class="btn btn-primary"
                        autocomplete="off">清除待预测条件</button>
            </div>
            <div>
                <button type="button" id="getK" data-loading-text="Loading..."
                        class="btn btn-primary"
                        autocomplete="off">
                    计算K
                </button>
                <button type="button" id="getResult" data-loading-text="Loading..."
                        class="btn btn-primary"
                        autocomplete="off">
                    预测
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">集总数：</h3>
                </div>
                <div class="panel-body">
                    <div class="input-group">

                        <input type="number" class="form-control" id="n" value="3" max="20" min="3">

                    </div><!-- /input-group -->
                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">条件输入面板：</h3>
                </div>
                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">初始组成：</h3>
                        </div>
                        <div class="panel-body">


                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#Y0_tag" data-toggle="tab">
                                        原料油
                                    </a>
                                </li>
                                <li><a href="#nitro_tag" data-toggle="tab">碱氮</a></li>
                                <li><a href="#aro_tag" data-toggle="tab">芳烃</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="Y0_tag">

                                    <table class="table table-hover table-condensed" id="Y0_input">
                                        <tr>
                                            <th class="col-sm-1">
                                                #
                                            </th>
                                            <th class="col-sm-2">
                                                组分名
                                            </th>
                                            <th class="col-sm-3">
                                                组分初始含量
                                            </th>
                                            <th class="col-sm-3">
                                                组分最终含量
                                            </th>
                                             <th class="col-sm-5">                                           <th class="col-sm-4">
                                                分子质量
                                            </th>
                                        </tr>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="nitro_tag">
                                    <input type="number" class="form-control" id="nitro" value="0" step="0.001"
                                           max="1"
                                           min="0">
                                </div>
                                <div class="tab-pane fade" id="aro_tag">
                                    <input type="number" class="form-control" id="aro" value="0" step="0.001"
                                           max="1"
                                           min="0">
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">反应条件：</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                        <span class="input-group-addon">
                            停留时间
                        </span>
                                <input type="number" class="form-control" id="t_redis">
                                <span class="input-group-addon">
                            s
                        </span>
                            </div><!-- /input-group -->
                            <div class="input-group">
                        <span class="input-group-addon">
                            反应压力
                        </span>
                                <input type="number" class="form-control" id="p">
                                <span class="input-group-addon">
                            kPa
                        </span>
                            </div><!-- /input-group -->
                            <div class="input-group">
                        <span class="input-group-addon">
                            反应温度
                        </span>
                                <input type="number" class="form-control" id="T">
                                <span class="input-group-addon">
                            K
                        </span>
                            </div><!-- /input-group -->
                            <div class="input-group">
                        <span class="input-group-addon">
                            R
                        </span>
                                <input type="number" class="form-control" value="8.3145" disabled id="R">
                                <span class="input-group-addon">
                            J·Mol<sup>-1</sup>·K<sup>-1</sup>
                        </span>
                            </div><!-- /input-group -->
                            <div class="input-group">
                        <span class="input-group-addon">
                            剂油比
                        </span>
                                <input type="number" min="0" class="form-control" id="OR">

                            </div><!-- /input-group -->
                            <button type="button" id="inputFactors" data-loading-text="Loading..."
                                    class="btn btn-primary"
                                    autocomplete="off">
                                输入此组数据为条件
                            </button>
                            <button type="button" id="inputPreFactors" data-loading-text="Loading..."
                                    class="btn btn-primary"
                                    autocomplete="off">
                                输入此组数据作为预测
                            </button>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
</body>

</html>